<section>
    <div class="container-lg card-container mt-3 mb-3">
        <mat-card *ngFor="let todo of allTodos" matRipple [matRippleCentered]="true" class="card-width" (click)="openDialog(todo)">
            <mat-card-header>
                <mat-card-title>Todo Title</mat-card-title>
            </mat-card-header>
            <mat-card-content class="card-text-container">
                {{todo.details}}
            </mat-card-content>
        </mat-card>
    </div>



    <div class="float-button">
        <button mat-fab color="accent" (click)="openDialog(1)"><mat-icon>add</mat-icon></button>
    </div>
</section>