<section>

    <div>
        <mat-card class="card-width">
            <mat-card-header>
                <mat-card-title>Todo Title</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
            </mat-card-content>
        </mat-card>
    </div>



    <div class="float-button">
        <button mat-fab color=accent><mat-icon>add</mat-icon></button>
    </div>
</section>